<div id="header" class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container container-full-width">
      <a href="/home/index" class="brand">ServiceS</a>
      <ul class="nav pull-right">
        <li class="brand">
          <% if cookies[:user_id] %>
              <%= cookies[:user_name] %>
          <% else %>
              <%= link_to 'Entrar com Facebook', '/auth/facebook' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>