<div id="header" class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container container-full-width">
      <a href="/home/index" class="brand">ServiceS</a>
    </div>
  </div>
</div>