<!DOCTYPE html>
<html>
<head>
  <title>Hoje é dia de serviços, bebê!</title>

  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>

  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>


<!-- Plugin para feedback -->

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/kV1sfRwNnd5MTgYXm9E7Gw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
        mode: 'full',
        primary_color: '#354b5e',
        link_color: '#475f77',
        default_mode: 'feedback',
        forum_id: 220812,
        tab_label: 'Feedback & Support',
        tab_color: '#354b5e',
        tab_position: 'bottom-right',
        tab_inverted: false
    }]);
</script>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=207267112771977";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
