<!DOCTYPE html>
<html>
<head>
  <title>Hoje é dia de serviços, bebê!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <script src="/assets/jquery-1.9.1.js"></script>
  <script src="/assets/jquery-ui.js"></script>
  <link rel="stylesheet" href="/assets/jquery-ui.css" />
  <link href="o2.0.css" media="screen" rel="stylesheet" type="text/css">
  <link href="p1_v2.css" media="screen" rel="stylesheet" type="text/css">
  <link href="page2.css" media="screen" rel="stylesheet" type="text/css">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<!-- Plugin para feedback -->

<script id="_webengage_script_tag" type="text/javascript">
    var _weq = _weq || {};
    _weq['webengage.licenseCode'] = '~10a5cb866';
    _weq['webengage.widgetVersion'] = "4.0";

    (function(d){
        var _we = d.createElement('script');
        _we.type = 'text/javascript';
        _we.async = true;
        _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
        var _sNode = d.getElementById('_webengage_script_tag');
        _sNode.parentNode.insertBefore(_we, _sNode);
    })(document);
</script>

</body>
</html>
